/* Basic button styling */
#myButton {
    padding: 13px;
    font-size: 16px;
    margin-right: 5px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 52px;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

/* Style for the clicked state */
#myButton.clicked {
    border: 2px solid black;
}
